* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sm: 12.5px;
    --nm: 20px;
    --md: 25px;
    --lg: 29px;
    --titulo: 40px;
    --blue: #0D47A1;
    --blueDark: #041446;
    --green: #22DD42;
    --degraded: #15817C;
    --white: #ffffff;
    --primera_fuente: arial;
    --segunda_fuente: helvetica;
    --screen_size: 100%;
    --filtro_green: invert(71%) sepia(77%) saturate(3194%) hue-rotate(81deg) brightness(107%) contrast(85%);
    --filtro_blue: invert(21%) sepia(80%) saturate(1873%) hue-rotate(203deg) brightness(90%) contrast(99%);
    --filtro_degraded: invert(36%) sepia(82%) saturate(439%) hue-rotate(128deg) brightness(95%) contrast(89%);
    --filtro_blanco: invert(99%) sepia(0%) saturate(4%) hue-rotate(206deg) brightness(105%) contrast(100%);
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
}

header {
    width: var(--screen_size);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header-top {
    display: flex;
    width: var(--screen_size);
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-top ul {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.header-top ul li {
    margin-right: 1px;
    display: flex;
}

.header-top ul li img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    filter: var(--filtro_blue);
}

.header-top ul li p {
    display: none;
}

.header-top .logo-header {
    display: block;
    width: 100px;
}

.header-top ul li:last-child {
    display: none;
}

header button {
    display: none;
}

header button a {
    color: var(--blue);
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr;
    width: var(--screen_size);
    height: 95px;
    border-top: 1px solid rgba(255, 255, 255, 0.431);
}

.header-bottom .logo-header {
    display: none;
}

.logo-header img {
    width: 100%;
}

.header-bottom #icon_menu {
    display: none;
}

.header-bottom-right {
    display: flex;
    height: 92px;
    align-items: center;
    color: var(--white);
    justify-self: center;
}

.header-bottom .header-bottom-right ul {
    display: flex;
    margin-right: 0px;
    height: 100%;
}

.header-bottom-right ul li {
    margin-right: 15px;
    font-family: var(--primera_fuente);
    font-size: var(--nm);
    color: var(--white);
    font-weight: bold;
    padding: 20px 0px 0px 0px;
    width: 90px;
}

.header-bottom-right ul li:last-child {
    border-top: 2px solid var(--white);
}

.header-bottom-right ul li a {
    color: var(--white);
}

.header-redes {
    display: flex;
}

.header-bottom-right .header-redes div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 3px;

}

.header-redes div a img {
    width: 100%;
    filter: var(--filtro_blanco);
}

/* Fondo uno */

.fondo {
    position: absolute;
    top: -80px;
    z-index: -1;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.fondo .img {
    width: 100%;
    height: 80%;
    background-image: linear-gradient(rgba(7, 75, 152, 0.209),rgba(4, 67, 150, 0.873)), url(/img/fondo_contacto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Contenido */

.contenido {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: var(--titulo);
    margin-top: 120px;
    margin-bottom: 150px;
    font-family: var(--primera_fuente);
}

.contenido h1 {
    font-size: 50px;
}

/* Inicio de formulario */

main .inicio {
    display: flex;
    width: var(--screen_size);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

@media (max-width: 425px) {
    main .inicio {
        width: 95%;
    }
}

main .inicio-texto {
    width: auto;
}

.inicio-texto ul {
    display: grid;
    grid-template-columns: 1fr;
}

.inicio h1 {
    font-size: var(--titulo);
    font-family: var(--primera_fuente);
    color: var(--blue);
    text-align: center;
    margin-bottom: 48px;
}

.inicio p {
    font-size: var(--nm);
    font-family: var(--primera_fuente);
    font-weight: 600;
    opacity: 0.7;
    line-height: 24px;
    margin-bottom: 28px;
}

.inicio ul li a {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: var(--nm);
    color: var(--blue);
    font-weight: 400;
    font-family: var(--segunda_fuente);
}

.inicio ul a img {
    width: 30px;
    margin-right: 5px;
    filter: var(--filtro_blue);
}

.inicio-formulario {
    background-color: var(--white);
    padding: 20px 25px;
    width: var(--screen_size);
    height: 520px;
}

.inicio-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr 0.2fr;
    height: auto;
    align-items: baseline;
}

.inicio-formulario form label {
    display: block;
    margin-bottom: 20px;
    grid-column: 1/3;
}

.inicio-formulario form label:nth-last-child(4) {
    margin-left: 5px;
}

.inicio-formulario form label:nth-last-child(3) {
    grid-column: 1/3;
}

.inicio-formulario form label:nth-last-child(2) {
    grid-column: 1/3;
}

.inicio-formulario form input {
    grid-column: 1/3;
}

.inicio-formulario form label input {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: none;
    background-color: #60606017;
    padding: 20px;
    font-family: var(--primera_fuente);
    color: var(--blue);
    font-weight: bold;
}

.inicio-formulario form label textarea {
    outline: 0;
    overflow: auto auto;
    resize: vertical;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #60606017;
    padding: 20px;
    color: var(--degraded);
    font-family: var(--primera_fuente);
    font-weight: bold;

}

.inicio-formulario form .enviar {
    background-color: var(--degraded);
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-family: var(--primera_fuente);
    text-align: center;
    color: var(--white);
}


/* Footer */

footer {
    width: 100%;
    height: 400px;
    background-color: #041732;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 65% 25% 10%;
}

footer ul .footer-list {
    margin-bottom: 20px;
}

footer ul .footer-list a {
    color: var(--white);
    font-size: var(--sm);
    font-family: var(--segunda_fuente);
}

footer .columna_uno {
    color: var(--white);
    font-size: var(--sm);
    padding: 5px 30px;
    grid-column: 1/4;
}

.columna_uno img {
    width: 80px;
    margin-bottom: 25px;
}

.columna_uno p {
    line-height: 25px;
    font-family: var(--segunda_fuente);
}

footer div h5 {
    color: var(--white);
    font-size: var(--md);
    margin-bottom: 16px;
    font-family: var(--segunda_fuente);
}

footer .columna_dos {
    padding: 5px;
    display: none;
}

footer .columna_tres {
    padding: 5px;
    grid-column: 1/4;
    grid-row: 2/3;
}

.columna_tres ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}

.columna_tres ul li a {
    font-size: 0px;
}

.columna_tres ul li a img {
    width: 25px;
    filter: var(--filtro_blanco);
    margin-right: 15px;
}

.copyright {
    background-color: #020c1a;
    padding: 10px 0px 0px 0px;
    grid-column: 1/4;
    grid-row: 3/4;
}

.copyright p {
    color: var(--white);
    font-size: var(--sm);
    font-weight: bold;
    font-family: var(--primera_fuente);
    text-align: start;
    width: var(--screen_size);
    margin: 0 auto;
}